.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    width: 252px;
    height: 32px;
    left: 56px;
    top: 137px;
}

.all-todo {}